/* Jesper Nyberg 0106055973 */
@font-face {
  font-family: JetBrains;
  src: url("./assets/fonts/JetBrainsReg.ttf");
  font-weight: 400;
}

@font-face {
  font-family: JetBrains;
  src: url("./assets/fonts/JetBrainsBold.ttf");
  font-weight: 700;
}
:root {
  --yellow: #e9de9e;
}
* {
  font-family: "JetBrains", monospace;
}
body {
  background-image: url("./assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
}
/* sätter bakgrundsbild,  */

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 100px 110px;
  flex: 1;
}

/* centrerar innehåll, ger lika mycket plats åt båda se */

section > div {
  width: 70%;
  height: auto;
  max-height: 300px;
  overflow: hidden;
}
/* "Ramen för bilden" */

section > div > img {
  width: 100%;
}
/* självaste bilden */

h1 {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

#people {
  display: block;
  padding-left: 0;

  list-style: none;
}

#people li {
  display: inline;
  margin-right: 10px;
}

#economy {
  display: block;
  padding-left: 0;

  list-style: none; /* a list with no visible item markers */
}

#economy li {
  margin-bottom: 1px;
}

.fieldset {
  border-style: none; /* without this property, the slider area gets a border */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  margin: 30px 25px 0 0;
  padding: 10px 15px;
  background: #101010;
  color: #f1f1f1;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #282828;
}

#popup-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);
  z-index: 1;
}

/* Abosolut position, har prio. z index = sträck bakom. */
#popup {
  background-color: #e9de9e;
  -webkit-box-shadow: 0px 6px 24px 13px #101010;
  box-shadow: 0px 6px 24px 13px #101010;
  border-radius: 25px;
  padding: 15px;
  position: relative;
}

/* gör att det skuggar bakom hela fönstret. Relativ, X innanför rutan */
#popup > h3 {
  text-align: center;
}
/* kod som endast fokuserar på titel i pop up */
#popup > ul > li {
  margin-top: 10px;
}
/* Gör alla punkter i help mer isär och lättläst */
#close {
  position: absolute;
  top: 25px;
  right: 50px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.1s ease-in-out;
  border-radius: 100px;
}
/* krysset i help fönstret */
#close:hover {
  background: rgba(0, 0, 0, 0.25);
}
/* gör bakgrund för krysset i help rutan */
.hide {
  display: none !important;
}
/* id för att kryssa ner help, !import prioriteras */

#midline {
  width: 2px;
  height: 66vh;
  background: #101010;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
}

/* när skärmen är mindre än 1280px prioritera dessa styles */
@media (max-width: 1280px) {
  /* sänk gap, öka padding */
  section {
    padding: 75px 50px;
    gap: 5px;
  }

  /* sänk margin */
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    margin: 8px;
  }

  /* sänk margin */
  button {
    margin: 10px;
  }

  /* sänk textstorlek */
  p {
    font-size: 14px;
  }

  /* centrera bild */
  section > div {
    display: flex;
    justify-content: center;
  }
}
